/* the norm */
#gritter-notice-wrapper {
	position:fixed;
	top:20px;
	right:20px;
	width:301px;
	z-index:9999;
}
#gritter-notice-wrapper.top-left {
    left: 20px;
    right: auto;
}
#gritter-notice-wrapper.bottom-right {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
}
#gritter-notice-wrapper.bottom-left {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
}
.gritter-item-wrapper {
	position:relative;
	margin:0 0 10px 0;
	background:url('../images/ie-spacer.gif'); /* ie7/8 fix */ 
}
.gritter-top {
	background:url(../images/gritter.png) no-repeat left -30px;
	height:10px;
}
.hover .gritter-top {
	background-position:right -30px;
}
.gritter-bottom {
	background:url(../images/gritter.png) no-repeat left bottom;
	height:8px;
	margin:0;
}
.hover .gritter-bottom {
	background-position: bottom right;
}
.gritter-item {
	display:block;
	background:url(../images/gritter.png) no-repeat left -40px;
	color:#eee;
	padding:2px 11px 8px 11px;
	font-size: 11px;
	font-family:verdana;
}
.hover .gritter-item {
	background-position:right -40px;
}
.gritter-item p {
	padding:0;
	margin:0;
	word-wrap:break-word;
}
.gritter-close {
	display:none;
	position:absolute;
	top:5px;
	right:3px;
	background:url(../images/gritter.png) no-repeat left top;
	cursor:pointer;
	width:30px;
	height:30px;
	text-indent:-9999em;
}
.gritter-title {
	font-size:14px;
	font-weight:bold;
	padding:0 0 7px 0;
	display:block;
	text-shadow:1px 1px 0 #000; /* Not supported by IE :( */
}
.gritter-image {
	width:48px;
	height:48px;
	float:left;
}
.gritter-with-image,
.gritter-without-image {
	padding:0;
}
.gritter-with-image {
	width:220px;
	float:right;
}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
    background-image: url(../images/gritter-light.png);
    color: #222;
}
.gritter-light .gritter-title {
    text-shadow: none;
}

/* système de couleur par Unixvers */

/* Version Info */
.notif-info .gritter-item {
	background-image: none;
	background: none;
	background: #e4f5fc;
	background: -moz-radial-gradient(center, ellipse cover,  #e4f5fc 0%, #bfe8f9 42%, #9fd8ef 74%, #2ab0ed 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e4f5fc), color-stop(42%,#bfe8f9), color-stop(74%,#9fd8ef), color-stop(100%,#2ab0ed));
	background: -webkit-radial-gradient(center, ellipse cover,  #e4f5fc 0%,#bfe8f9 42%,#9fd8ef 74%,#2ab0ed 100%);
	background: -o-radial-gradient(center, ellipse cover,  #e4f5fc 0%,#bfe8f9 42%,#9fd8ef 74%,#2ab0ed 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #e4f5fc 0%,#bfe8f9 42%,#9fd8ef 74%,#2ab0ed 100%);
	background: radial-gradient(ellipse at center,  #e4f5fc 0%,#bfe8f9 42%,#9fd8ef 74%,#2ab0ed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=1 );
	color: black;
	border-radius: 20px;
	box-shadow:0px 0px 40px #11F2EB;
	border: double 2px black;
	text-shadow: none;
	text-align: center;
	padding: 10px;
}

.notif-info .gritter-close {
	top:2px;
	right:-8px;
}

.notif-info .gritter-bottom, .notif-info .gritter-top {
	background: none;
}

.notif-info .gritter-title {
    text-shadow: none;
}

/* Version Success */

.notif-success .gritter-item {
	background-image: none;
	background: none;
	background: #d2ff52;
	background: -moz-radial-gradient(center, ellipse cover,  #d2ff52 0%, #91e842 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d2ff52), color-stop(100%,#91e842));
	background: -webkit-radial-gradient(center, ellipse cover,  #d2ff52 0%,#91e842 100%);
	background: -o-radial-gradient(center, ellipse cover,  #d2ff52 0%,#91e842 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #d2ff52 0%,#91e842 100%);
	background: radial-gradient(ellipse at center,  #d2ff52 0%,#91e842 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=1 );
	color: black;
	border-radius: 20px;
	box-shadow:0px 0px 40px #d2ff52;
	border: double 2px black;
	text-shadow: none;
	text-align: center;
	padding: 10px;
}

.notif-success .gritter-close {
	top:2px;
	right:-8px;
}

.notif-success .gritter-bottom, .notif-success .gritter-top {
	background: none;
}

.notif-success .gritter-title {
    text-shadow: none;
}

/* Version Warning */

.notif-warning .gritter-item {
	background-image: none;
	background: none;
	background: #ffc578;
	background: -moz-radial-gradient(center, ellipse cover,  #ffc578 0%, #fb9d23 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffc578), color-stop(100%,#fb9d23));
	background: -webkit-radial-gradient(center, ellipse cover,  #ffc578 0%,#fb9d23 100%);
	background: -o-radial-gradient(center, ellipse cover,  #ffc578 0%,#fb9d23 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #ffc578 0%,#fb9d23 100%);
	background: radial-gradient(ellipse at center,  #ffc578 0%,#fb9d23 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=1 );
	color: black;
	border-radius: 20px;
	box-shadow:0px 0px 40px #ffc578;
	border: double 2px black;
	text-shadow: none;
	text-align: center;
	padding: 10px;
}

.notif-warning .gritter-close {
	top:2px;
	right:-8px;
}

.notif-warning .gritter-bottom, .notif-warning .gritter-top {
	background: none;
}

.notif-warning .gritter-title {
    text-shadow: none;
}

/* Version Danger */

.notif-danger .gritter-item {
	background-image: none;
	background: none;
	background: #f85032;
	background: -moz-radial-gradient(center, ellipse cover,  #f85032 32%, #f02f17 66%, #e73827 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(32%,#f85032), color-stop(66%,#f02f17), color-stop(100%,#e73827));
	background: -webkit-radial-gradient(center, ellipse cover,  #f85032 32%,#f02f17 66%,#e73827 100%);
	background: -o-radial-gradient(center, ellipse cover,  #f85032 32%,#f02f17 66%,#e73827 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #f85032 32%,#f02f17 66%,#e73827 100%);
	background: radial-gradient(ellipse at center,  #f85032 32%,#f02f17 66%,#e73827 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 );
	color: white;
	border-radius: 20px;
	box-shadow:0px 0px 40px #f85032;
	border: double 2px black;
	text-shadow: none;
	text-align: center;
	padding: 10px;
}

.notif-danger .gritter-close {
	top:2px;
	right:-8px;
}

.notif-danger .gritter-bottom, .notif-danger .gritter-top {
	background: none;
}

.notif-danger .gritter-title {
    text-shadow: none;
}