/*
* Fichier de style Multixvers (pour le site partie public)
* Fichier crée le 15/04/2014
* Auteur : Denis Sanson alias Multixvers
*/

td {
    background-color: #e9e9e9;
}

.ejs_context_menuitems {
    padding-left: 12px;
    padding-right: 7px;
}

.cadre {
    border: 1px solid grey;
    margin: 3px;
    padding: 4px;
}

.redtitle {
    font-weight: bold;
    text-align: center;
    color: red;
    border-color: black;
    text-decoration: none;
}

.bluetitle {
    font-weight: bold;
    text-align: center;
    color: blue;
    border-color: black;
    text-decoration: none;
}

.yellow_on_red {
    font-weight: bold;
    text-align: center;
    color: yellow;
    background-color: red;
}

.white_on_blue {
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: blue;
}

.red_over:hover {
    color: red;
}

.cadre_orange {
    background: darkorange;
    border: 4px solid black;
    margin: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 8px;
    text-align: center;
}

.select_orange {
    background: darkorange;
    color: black;
    font-weight: bold;
    font-size: medium;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    margin-bottom: 8px;
}

#menu_index {
    position: absolute;
    font-size: 17px;
}

#fondSite {
    background: #B3ADAD;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #B3ADAD 0%, #B6B1B1 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #B3ADAD), color-stop(100%, #B6B1B1));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #B3ADAD 0%, #B6B1B1 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #B3ADAD 0%, #B6B1B1 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #B3ADAD 0%, #B6B1B1 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #B3ADAD 0%, #B6B1B1 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#B3ADAD', endColorstr='#B6B1B1', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#fondMaintenance {
    background-color: #DFDFDF;
}

.special {
    margin: 8px;
}

#horloge {
    font-size: 22px;
    color: black;
    text-align: center;
}

#map {
    width: 100%;
    height: 900px;
    margin: 10px auto;
}

.dropdown ul {
    list-style: none;
}

.badge-info {
    display: inline-block;
    min-width: 10px;
    padding: 2px 7px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #4F86FD;
    border-radius: 10px;
}

.badge-danger {
    display: inline-block;
    min-width: 20px;
    padding: 2px 6px;
    margin-left: 3px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #FF3A3A;
    border-radius: 20px;
}

.badge-trans {
    display: inline-block;
    min-width: 10px;
    padding: 2px 7px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.panel-body {
    padding: 12px;
    background-color: wheat;
}

.decale {
    margin-top: 24px;
}

.btn-selected {
    background-color: #FCD591;
}

.space {
    margin: 5px;
    float: left;
}

.espace {
    margin: 5px;
}

.btInter {
    font-size: 25px;
}

.idInter {
    min-height: 100px;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}

.idPerso {
    min-height: 100px;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}

#perso-panel {
    height: 755px;
    overflow-y: auto;
}

#gr2 {
    height: 450px;
    overflow-y: auto;
}

#gr4 {
    height: 250px;
    overflow-y: auto;
}

#intervention-panel {
    height: 690px;
    overflow-y: auto;
}

#navigation {
    margin-bottom: -20px;
}

#synops {
    margin-top: -10px;
}

.size {
    font-size: 14px;
}

.spaceT {
    margin: 3px;
    float: left;
}

.sizeT {
    font-size: 12px;
}

.arrondi {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 8px;
}

#table .text-middle {
    vertical-align: middle;
}

.badge-off {
    display: inline-block;
    min-width: 10px;
    padding: 2px 7px;
    font-size: 16px;
    font-weight: bold;
    color: #443d3d;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.badge-soff {
    display: inline-block;
    min-width: 10px;
    padding: 2px 7px;
    font-size: 16px;
    font-weight: bold;
    color: #443d3d;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #FFFF2D;
    border-radius: 20px;
}

.badge-hdr {
    display: inline-block;
    min-width: 10px;
    padding: 2px 7px;
    font-size: 16px;
    font-weight: bold;
    color: #443d3d;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #FF7535;
    border-radius: 20px;
}

#page-login #bloc-auth {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

#page-login #auth {
    position: relative;
    width: 40%;
    margin: 12% auto;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 25px 20px #FD5B00;
    box-shadow: 5px 5px 25px 20px #FD5B00;
}

#page-login #titre-login {
    display: block;
    height: 80px;
    padding: 20px;
    margin-bottom: 20px;
}

#page-login #titre-login h1 {
    display: block;
    margin-top: 0px;
}

#page-export {
    background-color: black;
}

#page-export #bloc-export {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

#page-export #export {
    position: relative;
    width: 60%;
    margin: 12% auto;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 25px 20px #FD5B00;
    box-shadow: 5px 5px 25px 20px #FD5B00;
}

#page-export #titre-export {
    display: block;
    height: 80px;
    padding: 20px;
    margin-bottom: 20px;
}

#page-export #titre-export h1 {
    display: block;
    margin-top: 0px;
}

#page-import {
    background-color: black;
}

#page-import #bloc-import {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

#page-import #import {
    position: relative;
    width: 60%;
    margin: 12% auto;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 25px 20px #FD5B00;
    box-shadow: 5px 5px 25px 20px #FD5B00;
}

#page-import #titre-import {
    display: block;
    height: 80px;
    padding: 20px;
    margin-bottom: 20px;
}

#page-import #titre-import h1 {
    display: block;
    margin-top: 0px;
}

textarea {
    resize: none;
}

.glyphicon-chevron-up,
.glyphicon-chevron-down {
    color: grey;
}

.glyphicon-chevron-up:hover,
.glyphicon-chevron-down:hover {
    color: black;
}

#block-msgs {
    display: block;
    float: right;
    margin: 10px auto;
    cursor: pointer;
}

#messagerie {
    font-size: 30px;
    position: relative;
    color: red;
}

#messagerie:hover {
    color: black;
}

#nb-msgs {
    display: inline-block;
    font-size: 16px;
    color: white;
    width: 30px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}